.popular {
    background-color: $primary-color;
    padding-top: 20px;
    color: $secondary-color;
    text-align: center;
    padding-bottom: 30px;

    .titulo-populares {
        font-size: 1.5rem;


    }



    .articulos {
        display: flex;
        align-items: center;

        justify-content: space-between;

       


    }

}