.popular {
    background-color: $primary-color;
    padding-top: 20px;
    color: $secondary-color;
    text-align: center;
    padding-bottom: 30px;

    .titulo-populares {
        font-size: 1.5rem;


    }



    .articulos {
        display: flex;
        align-items: center;

        justify-content: space-between;

        .articulosInteresantes {
            background-color: $secondary-color;
            color: #000;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin: 0 10px;

            padding: 10px;

            @include flex(row);
            align-items: center;
            justify-content: space-between;
            @include transition-scale(1s, 1.2);

            p {
                margin: 5px 0;
            }

            img {

                height: 8.1875rem;
                border-bottom: 1px solid #ddd;

                object-fit: contain;

            }

        }

    }

}