.tituloCat {
    background-size: cover;
    color: $secondary-color;
    text-align: center;
    align-content: center;
    height: 31.25rem;

    h2 {
        font-size: 100px;
        font-weight: bold;
    }
}