@media (max-width: 681px) {
    .articuloEnCarrito {
        .botonesArticulo {
            div {
                button {
                    padding: 2px 4px;
                }
            }
        }

        .precioArt {
            grid-row: 2/ 4;
            margin-top: 12px;
        }

        .valoracion {
            grid-row: 1/ 4;
        }
    }

    .pestania-nombre {
        h1 {
            font-weight: 900;
            font-size: 40px;
            letter-spacing: 10px;
        }
    }

    .todos-accesorios {
        .grid-accesorios {
            .articulo {
                button {
                    margin: 0;
                    margin-bottom: 5px;
                }
            }
        }
    }

    .ropa-black {
        .grilla-ropa {
            width: 88%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .articulo {
                .info-arti {
                    height: 81px;
                    margin-top: 90px;


                }

                button {
                    display: none;
                }

            }

            .img-modelos-1 {
                display: none;
            }
        }
    }

    .ropa-white {
        .grilla-ropa {
            width: 88%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .articulo {
                .info-arti {
                    height: 81px;
                    margin-top: 90px;


                }

                button {
                    display: none;
                }

            }

            .img-modelos-1 {
                display: none;
            }
        }
    }

    .en-stock {
        .grilla-ropa {
            width: 88%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .articulo {
                .info-arti {
                    height: 81px;
                    margin-top: 90px;


                }

                button {
                    display: none;
                }

            }

            .img-modelos-1 {
                display: none;
            }
        }
    }
}