@media (max-width: 480px) {
    header {
        .nav-row {
            display: grid;
            grid-template-rows: 1fr 1fr;

            .menuTitulo {

                grid-column: 1/3;
                grid-row: 1;
                display: flex;
                text-align: center;
                gap: 10px;


                .menu-icon {


                    width: 30px;

                    height: 20px;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    cursor: pointer;



                    .line {

                        height: 4px;

                        background-color: #ffffff;

                        border-radius: 2px;

                        width: 100%;


                    }
                }
            }

            .buscador {
                grid-row: 2/3;
                grid-column: 1/6;
                margin-top: 2%;
            }
        }

        nav {
            grid-column: 4/6;
            justify-self: end;

            .campana {
                display: none;
            }

            ul {
                display: none;
            }
        }
    }

    .articulo {
        button {
            margin-top: 5%;
            height: min-content;
        }
    }

    .slogan {
        display: none;
    }

    .popular {
        h3 {
            font-size: 1.2em;
            font-weight: 600;
            margin-top: .5625rem;
        }

        .titulo-populares {
            font-size: 1.2em;

            font-weight: 600;
        }

        .flex-articulos {
            .flechas {
                display: none;
            }

            .articulos {
                gap: 4%;
                margin: 0 auto;
                padding: 13px;
                padding-top: 0;

                a:nth-child(n+4) {
                    display: none;
                }
            }
        }
    }

    .section {
        .item {
            text-align: center;
            align-content: center;
            font-size: 20px;
            font-weight: 900;
            margin: 2%;
            height: 5.8125rem;
        }
    }

    .articulosGrid {
        display: flex;
        flex-direction: column;
        height: max-content;
        align-content: space-between;
        margin: 0 auto;
        margin-top: 2px;

        .articulo {
            display: flex;
            flex-direction: row;
            background-color: #8d8d8d;
            justify-content: space-between;
            margin-bottom: 5%;

            .img-populares {
                width: 100px;
                object-fit: contain;
                align-self: center;

                height: 100%;
                margin-bottom: 0%;
            }

            p {
                align-self: center;
                padding: .125rem;
            }

            .btonCarrito {
                padding: 10px;

                margin-right: 20px;
                align-self: center;

                img {
                    width: 40px;
                    height: auto;
                    margin: 5px;
                }

                @media (min-width:481px) {
                    display: none;
                }


            }

            .aniadirCarrito {
                display: none;

            }
        }
    }

    .carrito {
        display: flex;
        flex-direction: column;
        background-color: #D9D9D9;
        align-self: center;
        padding-top: 2px;
        margin-bottom: 173px;

        .totalCarrito {
            display: none;
        }

        .todoElCarrito {
            .articuloEnCarrito {

                display: grid;
                grid-template-columns: repeat(8, 40px);
                grid-template-rows: repeat(1, 20px);
                grid-column: 1 / 2;
                margin-bottom: .625rem;

                width: 100%;
                gap: 1%;


                .botonesArticulo {

                    grid-column: 3/7;
                    grid-row: 5;
                    justify-content: space-between;
                    align-content: center;
                    gap: 0%;

                    button {
                        height: 30px;
                        width: 5rem;
                        font-size: 10px;
                        text-align: center;


                    }

                    div {
                        display: none;
                    }

                }

                .tituloArticulo {
                    grid-column: 3 / 7;
                    grid-row: 1 / 5;
                    font-size: 7px;
                }

                .precioArt {
                    grid-row: 1 / 1;
                    grid-column: 7 / 9;
                    font-size: 20px;
                    align-self: center;

                }

                .imgComprado {
                    grid-column: 1 / 3;
                    grid-row: 1 / 6;
                }

                .valoracion {
                    display: none;
                }

                .masMenosMovil {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    grid-row: 4/7;
                    grid-column: 7/9;
                    justify-content: space-between;
                    width: 40px;
                    align-content: center;
                }

            }
        }
    }

    .totalCarritoMovil {
        align-items: center;
        text-align: center;
        position: fixed;
        bottom: 0;

        width: 100%;
        z-index: 1000;
        background-color:$secondary-color;
        color: $primary-color;

        .precioArt {
            font-size: 20px;
        }

        h3 {
            font-size: .9375rem;
        }

        .todosLosMovimientos {
            padding: 20%;
            padding-top: 1%;
            padding-bottom: 1%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: small;

            p {
                margin-bottom: 1px;
            }

            h4 {
                font-size: small;
            }
        }



    }

    footer {
        font-size: .625rem;

        .footerBottom {
            text-align: center;

            p {
                font-size: 9px;
            }
        }
    }
}

@media (min-width:481px) {

    .articulosGrid {
        .btonCarrito {
            display: none;
        }
    }

    .totalCarritoMovil {
        display: none;
    }

}