@media (max-width:419px) {
    body {
        font-size: small;
    }



    .carrito {
        margin: 0 auto;
        border-radius: 0;
        margin-bottom: 170px;

        .todoElCarrito {
            margin: 2px;

            .articuloEnCarrito {

                @include grid(repeat(8, auto), repeat(1, 20px));

            }

        }
    }

    .flex-articulos {
        .articulo {
            img {
                width: 100%;
                height: 175px;
                margin-bottom: 0.3125rem;
                object-fit: cover;
                border-radius: 15px 15px 0px 0px;
            }
        }
    }

    .todos-accesorios {
        .grid-accesorios {
            columns: 2;

            padding: 15px;
        }
    }

    .pestania-nombre {
        h1 {
            font-weight: 900;
            font-size: 30px;
            letter-spacing: 10px;
        }
    }
}