@media (max-width: 1003px) {


    .articulosGrid {
        @include grid(repeat(4, 1fr), auto);

        .articulo {
            button {
                font-size: small;
            }
        }

        a:nth-child(n+9) {
            display: none;

        }
    }
}