@media (max-width:419px) {
    body {
        font-size: small;
    }

    .popular {
        .flechasArt {
            .articulos {
                a:nth-child(n+3) {
                    display: none;
                    /* Ocultar artículos después del tercero */
                }
            }
        }
    }

    .carrito {
        margin: 0 auto;
        border-radius: 0;
        margin-bottom: 170px;

        .todoElCarrito {
            margin: 2px;

            .articuloEnCarrito {

                @include grid(repeat(8, auto), repeat(1, 20px));

            }

        }
    }

    .popular {
        .flex-articulos {}
    }

}