@mixin transition-scale($duration: 1s, $scale: 1.2) {
    transition: transform $duration;

    &:hover {
        transform: scale($scale);
    }
}

@mixin grid($columns, $row) {
    display: grid;
    grid-template-columns: $columns ;
    grid-template-rows: $row;
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}