.flex-articulos {
    @include flex(row);
    justify-content: space-between;
    align-items: center;

    .flechas {
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 1%;


    }

    button {

        img {

            width: 3.125rem;
            height: 100%;
            object-fit: contain;



        }

    }

    .articulos {
        gap: 2%;
        display: flex;
        align-items: center;
        overflow-y: visible;
        overflow-x: auto;
        scroll-behavior: smooth;
        gap: 10px;

        padding: 10px 0;


        height: 420px;

        &::-webkit-scrollbar {
            display: none;
        }
    }


}