.section {
    align-self: center;
    @include grid(repeat(4, 1fr), auto);
    height: 472px;
    width: 100%;

    background-color: $secondary-color;
    grid-template-areas:
        "buzos accesorios remeras remeras "
        "buzos pantalones remeras remeras "
        "buzos pantalones remeras remeras"
        "buzos pantalones zapatillas zapatillas"

    ;
    padding: 0.625rem 5.625rem;
    gap: 9px;
    justify-content: center;


    .buzos {
        grid-area: buzos;
    }



    .accesorios {
        grid-area: accesorios;
    }

    .remeras {
        grid-area: remeras;
    }

    .zapatillas {
        grid-area: zapatillas;
    }

    .pantalones {
        grid-area: pantalones;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item {


        text-align: center;
        align-content: center;
        font-size: 2.5rem;
        font-weight: 900;
        border-radius: 15px;


        p {
            color: $secondary-color;
            text-align: center;
            align-content: center;
        }

        @include transition-scale(1s, 1.2);

        &:hover {

            background-color: rgba(0, 0, 0, 0.773);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    }
}