.articulosGrid {

    @include grid(repeat(5, 1fr), auto);
    justify-content: center;
    gap: 2%;
    margin: 4.375rem;
    margin-top: 2%;
    margin-bottom: 3%;

    .articulo {
        height: 100%;
        width: 100%;
    }
}