.articulosGrid {

    @include grid(repeat(5, 1fr), auto);
    justify-content: center;
    gap: 2%;
    margin: 4.375rem;
    margin-top: 2%;
    margin-bottom: 3%;

    .articulo {
        height: 100%;
        width: auto;

        button {
            margin: 0px 12px 5px;
        }

        img {
            height: 200px;
        }
    }
}