.ofertas {

    display: flex;
    flex-direction: column;
    text-align: center;

    h3 {
        text-align: center;
        font-size: 2.5rem;

    
    }

    button {
        align-self: center;
    }

    .b {
        margin-top: 1.3125rem;
    }



}