.carrito {
    margin: 1.25rem;
    background-color: #D9D9D9;
    border-radius: 2.875rem;

    @include grid(3fr 2fr, auto);
    height: 100%;
    gap: .625rem;

    .todoElCarrito {
        margin: 1.25rem;

    }

    .totalCarrito {


        .todosLosMovimientos {
            @include flex(row);

            p {
                font-size: 14px;
                margin-bottom: 0;


            }

            .nombreMovimientos {
                @include flex(column);
            }

            .movimientos {
                @include flex(column);
                justify-content: space-between;
                padding-bottom: 7px;
            }

        }

    }


}