.pantalones-articulos {
    @include flex(row);
    gap: 21px;

    justify-content: center;


}

.seccion-pant {
    text-align: center;
    margin-top: 20px;
    padding: 30px;

    h2 {
        color: $primary-color;
        letter-spacing: 20px;
        font-size: 40px;
        font-weight: 800;

    }
}

.jean {

    background-image: url(../img/jeans-bg.jpg);

    h2 {
        color: $secondary-color;
    }

}