// Perfil
.perfilVentana {

    padding: 1rem;
}

.perfil {
    background-color: $primary-color;
    border-radius: 2.875rem;
    padding: 2rem; // Ajustado para más espacio
    text-align: center;
    margin: auto;
    color: $secondary-color;

    button {
        background-color: $secondary-color;
        color: $primary-color;
    }

    img {
        width: 20%;
        height: auto;
        border-radius: 50%;
        margin-bottom: 1rem; // Espacio entre imagen y texto
    }

    .usuarioInfo {
        p {
            margin: 0.5rem 0;
        }
    }


}