.totalCarrito {


    align-items: center;
    border-left: .0625rem solid black;
    text-align: center;
    margin-top: 23px;
    @include flex(column);
    border-left: .0625rem solid black;
    grid-column: 2/3;
    gap: 1.25rem;
    margin-bottom: 5px;
    p{
        font-size: 15px;
    }

 

    .todosLosMovimientos {
        @include flex(row);
        justify-content: space-between;
        width: 100%;
        padding: 1.25rem;

        div {
            align-content: space-between;


        }






    }



}