.slogan {
    background-image: url(../img/rectangle3.png);
    background-size: cover;
    height: auto;

    font-size: 3.75rem;



    height: 31.25rem;

    padding: 3.125rem;

    


}






.hogarMueble {
    background-image: url(../img/hogar.png);
    background-size: cover;

}

.electronica {
    background-image: url(../img/Electronica.png);
    background-size: cover;
}

.moda {
    background-image: url(../img/Moda.png);
    background-size: cover;
}

.bellezaSalud {
    background-image: url(../img/BellezaSalud.png);
    background-size: cover;
}