.slogan {
    background-image: url(../img/rectangle3.png);
    background-size: cover;
    height: auto;

    font-size: 3.75rem;



    height: 31.25rem;

    padding: 3.125rem;




}






.buzos {
    background-image: url(../img/buzos.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.remeras {
    background-image: url(../img/remera.jpg);
    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;


}

.pantalones {
    background-image: url(../img/pantalones.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.zapatillas {
    background-image: url(../img/zapatillas.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.accesorios {
    background-image: url(../img/accesorio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.buzos-pestania {
    background-image: url(../img/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}